@model Blog
@{
    ViewData["Title"] = Model.Title;
}

@section styles{

    <link href="~/prism/prism.css" rel="stylesheet" />

}

@section top{


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    @CommonText.Blogs
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.Title?.Brief(20)
            </li>
        </ol>
    </nav>
}

<div class="card blog">
    <div class="card-body">

        <h2 class="card-title">
            @Model.Title
        </h2>
        <ul class="list-inline">
            <li class="list-inline-item">
                <i class="fa fa-user-o"></i>
                @Model.Author?.Name
            </li>
            <li class="list-inline-item text-muted">
                <i class="fa fa-calendar-o"></i>
                @Model.CreatedDate.ToSystemDate()
            </li>
            <li class="list-inline-item">
                <i class="fa fa-comment-o"></i>
                12
            </li>

        </ul>

        @Html.Raw(Model.Body)


    </div>
</div>


@section scripts{
    <script src="~/prism/prism.js"></script>
}