@model Blog

<div class="card blog">
    <div class="card-body">
        <a asp-action="details" asp-controller="blog" asp-route-id="@Model.Id">
            <h3 class="card-title">
                @Model.Title
            </h3>
        </a>
        <ul class="list-inline">
            <li class="list-inline-item">
                <i class="fa fa-user-o"></i>
                @Model.Author?.Name
            </li>
            <li class="list-inline-item text-muted">
                <i class="fa fa-calendar-o"></i>
                @Model.CreatedDate.ToSystemDate()
            </li>
            
        </ul>
        <p>
            @Model.Body.StripHtml()?.Brief(300)
        </p>
        <p>
            <a asp-action="details" asp-controller="blog" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                <i class="fa fa-readme"></i>
                @CommonText.ReadMore
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="edit" asp-controller="blog" asp-route-id="@Model.Id" class="btn btn-info btn-sm">
                    <i class="fa fa-edit"></i>
                    @CommonText.Edit
                </a>
            }
        </p>
    </div>
</div>