<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @CommonText.AppName </title>

    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("styles", false)

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-4 font-weight-normal">
            @CommonText.AppName
        </h5>

        <partial name="_Menu" />


        @if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown">
                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello, @User.Identity.Name
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="logout" asp-controller="account">
                        @CommonText.Logout
                    </a>
                </div>
            </div>
        }
        else
        {
            <a class="btn btn-outline-primary" asp-action="login" asp-controller="account">
                @CommonText.Login
            </a>
        }

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            
            @RenderSection("top",false)

            <div id="alert"></div>
            
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @CommonText.AppName 
        </div>
    </footer>

    <partial name="_Confirm"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Validations Scripts -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive-bootstrap/dist/unobtrusive-bootstrap.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/lib/blockui/jquery.blockUI.min.js"></script>

    <script src="~/lib/toaster/toastr.min.js"></script>

    <script src="~/js/alert.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">

        $(function () {
             @if (TempData.ContainsKey(WebConstants.ALERT))
             {
                  <text>
                    var alertObject = @Html.Raw(TempData[WebConstants.ALERT]);
                    showAlert(alertObject);
                  </text>
             }
        });

    </script>

    @RenderSection("scripts", false)
</body>
</html>
